ScriptLauncher {
    layout: horizontal;

    #sidebar {
        width: 30%;
        border: tall green;
        height: 100%;
    }

    #main {
        width: 70%;
        height: 100%;
        border: tall blue;
    }

    #argpanel {
        border: solid gray;
        padding: 1;
    }

    #output_box {
        height: 1fr;
        border: solid orange;
    }

    #input_box {
        dock: bottom;
    }

    Button {
        margin-top: 1;
    }
}
